<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>View 3</title>
	</head>
	<body>
		<h1>Invoice</h1>
		<table th:object="${order}">
            <tr>
                <td>Invoice id:</td>
                <td>
                    <span th:text="${order.id}"></span>
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <span th:text="${order.name}"></span>
                </td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>
                    <span th:text="${order.address}"></span>
                </td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>
                    <p>$<span th:text="${#numbers.formatDecimal(order.price, 1, 2)}"></span></p>
                </td>
            </tr>
		</table>

        <a href="/">Start over</a>
	</body>
</html>
