<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>View 3</title>
		<style>
			.error {
			color: red;
			}
		</style>
	</head>
	<body>
		<!--
			Feel free to make changes to this HTML but do no change the option in select
		-->
		<h1>Invoice</h1>
		<table th:object="${order}">
            <tr>
                <td>Invoice id:</td>
                <td>
                    <span th:text="${order.id}"></span>
                </td>
                <!-- <p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}" data-th-errorclass="error"/> -->
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <span th:text="${order.name}"></span>
                </td>
            </tr>
            <tr>
                <td>Address:</td>
                <td>
                    <span th:text="${order.address}"></span>
                </td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>
                    <span th:text="${order.price}"></span>
                </td>
            </tr>
		</table>
	</body>
</html>
