<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>View 1</title>
		<style>
			.error {
			color: red;
			}
		</style>
	</head>
	<body>
		<!--
			Feel free to make changes to this HTML but do no change the option in select
		-->
		<h1>Shopping Cart</h1>
		<table>
			<form id="item-form" action="/" method="post" th:object="${item}">
				<tr>
					<td>Item:</td>
					<td>
						<select name="item" th:field="*{name}">
							<option value="apple">Apple</option>
							<option value="orange">Orange</option>
							<option value="bread">Bread</option>
							<option value="cheese">Cheese</option>
							<option value="chicken">Chicken</option>
							<option value="mineral_water">Mineral Water</option>
							<option value="instant_noodles">Instant Noodles</option>
						</select>
					</td>
					<p data-th-if="${#fields.hasErrors('name')}" data-th-errors="*{name}" data-th-errorclass="error"/>
				</tr>
				<tr>
					<td>Quantity:</td>
					<td>
						<input type="number" name="quantity" size="4" placeholder="Quantity" th:field="*{quantity}">
					</td>
					<p data-th-if="${#fields.hasErrors('quantity')}" data-th-errors="*{quantity}" data-th-errorclass="error"/>
				</tr>
			</form>
		</table>
		
		<table border="1" style="margin-top: 2vh; margin-bottom: 2vh;" th:if="${cart.items != null}" th:object="${cart}">
			<thead>
				<tr>
					<th>Item</th>
					<th>Quantity</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item : ${cart.items}">
					<td th:text="${item.name}"></td>
					<td th:text="${item.quantity}"></td>
				</tr>
			</tbody>
		</table>
		<p th:unless="${cart.items != null}">Your cart is currently empty</p>

		<div>
			<!-- POST -->
			<button type="submit" formaction="/" formmethod="POST" form="item-form">Add</button>

			<!-- GET -->
			<button formaction="/shippingaddress" formmethod="GET" form="item-form">Next</button>
		</div>
	</body>
</html>
